@page "/Tecnicos/Prioridades/Edit/{PrioridadId:int}"

@inject PrioridadesService prioridadesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Edit</PageTitle>
<EditForm Model="Prioridad" OnValidSubmit="Modificar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        <div class="card shadow-lg">

            <div class="card-header text-center">
                <h5 class="card-title">Modificar Prioridad</h5>
            </div>

            <div class="card-body">
                @*Id*@
                <div class="mb-3">
                    <label class="form-label"><strong>PrioridadId</strong></label>
                    <InputNumber class="form-control" @bind-Value="Prioridad.PrioridadesId" readonly></InputNumber>
                </div>

                @*Descripcion*@
                <div class="mb-3">
                    <label class="form-label"><strong>Descripcion</strong></label>
                    <InputText class="form-control" @bind-Value="Prioridad.Descripcion"></InputText>
                    <ValidationMessage For="(() => Prioridad.Descripcion)" />
                </div>

                @*Tiempo*@
                <div class="mb-3">
                    <label class="form-label"><strong>Tiempo (Minutos)</strong></label>
                    <InputNumber class="form-control" @bind-Value="Prioridad.Tiempo"></InputNumber>
                    <ValidationMessage For="(() => Prioridad.Tiempo)" />
                </div>
            </div>
            @*Footer*@
            <div class="card-footer text-center mt-2">
                <a href="/Tecnicos/Prioridades/Index" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
                <button type="submit" class="btn btn-success bi bi-floppy-fill">Modificar</button>
            </div>
        </div>
    </div>
</EditForm>
@Mensaje

@code {
    [Parameter]
    public int PrioridadId { get; set; }

    public Prioridades Prioridad { get; set; } = new Prioridades();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Prioridad = await prioridadesService.Buscar(PrioridadId);
    }

    private async Task<bool> Validar()
    {
        var valido = await prioridadesService.ExistePrioridad(Prioridad.PrioridadesId, Prioridad.Tiempo, Prioridad.Descripcion);
        return valido;
    }

    public async Task Modificar()
    {
        if (await Validar())
        {
            Mensaje = "Ya existe una prioridad con estos datos";
            return;
        }

        var modificado = await prioridadesService.Guardar(Prioridad);
        if (modificado)
        {
            Mensaje = "Se ha modificado correctamente";
        }
        else
        {
            Mensaje = "No se ha modificado correctamente";
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Prioridades/Index");
    }
}
