@page "/Tecnicos/Clientes/Edit/{ClienteId:int}"

@inject ClientesService clientesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@

<PageTitle>Create</PageTitle>
<EditForm Model="Cliente" OnValidSubmit="Modificar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @*Formulario*@
    <div class="container">
        <div class="card shadow-lg">

            @*Header*@
            <div class="card-header">
                <h5 class="card-title">Modificar Cliente</h5>
            </div>

            @*Body*@
            <div class="card-body">

                @*Id*@
                <div class="mb-3">
                    <label class="form-label"><strong>ClienteId</strong></label>
                    <InputNumber class="form-control"
                                 @bind-Value="Cliente.ClienteId" readonly></InputNumber>
                </div>

                @*Nombre*@
                <div class="mb-3">
                    <label class="form-label"><strong>Nombres</strong></label>
                    <InputText class="form-control"
                               @bind-Value="Cliente.Nombres"></InputText>
                    <ValidationMessage For="(()=> Cliente.Nombres)" />
                </div>

                @*WhatsApp*@
                <div class="mb-3">
                    <label class="form-label"><strong>WhatsApp</strong></label>
                    <InputText class="form-control" @bind-Value="Cliente.WhatsApp"></InputText>
                    <ValidationMessage For="(() => Cliente.WhatsApp)" />
                </div>
            </div>
            @*Footer*@
            <div class="card-footer text-center mt-2">
                <a href="/Tecnicos/Clientes/Index" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
                <button type="submit" class="btn btn-success bi bi-floppy-fill"></button>

            </div>
        </div>
    </div>
</EditForm>
@Mensaje

@code {
    [Parameter]
    public int ClienteId { get; set; }

    public Clientes Cliente { get; set; } = new Clientes();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Cliente = await clientesService.Buscar(ClienteId);
    }

    public async Task Modificar()
    {
        var modificar = await clientesService.Guardar(Cliente);

        if (modificar)
        {
            Mensaje = "Se ha modificado correctamente";
        }
        else
        {
            Mensaje = "No se ha modificado correctamente";
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Clientes/Index");
    }
}
