@page "/Tecnicos/Create"

@inject TecnicosService tecnicoService
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@

<PageTitle>Create</PageTitle>
<EditForm Model="Tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    @*Formulario*@
    <div class="container">
        <div class="shadow-lg">

            @*Header*@
            <div class="card-header">
                <h3>Crear T&eacute;cnico</h3>
            </div>

            @*Body*@
            <div class="card-body d-flex flex-column align-items-center justify-content-center text-lg-center">
                
                    @*Id*@
                    <div class="col-4 ms-3">
                        <label class="form-label"><strong>TecnicoId</strong></label>
                        <InputNumber class="form-control"
                        @bind-Value="Tecnico.TecnicoId" readonly></InputNumber>
                    </div>

                    @*Nombre*@
                    <div class="col-4 ms-3">
                        <label class="form-label"><strong>Nombres</strong></label>
                        <InputText class="form-control"
                        @bind-Value="Tecnico.Nombres"></InputText>
                        <ValidationMessage For="(()=> Tecnico.Nombres)" />
                    </div>

                    @*SueldoHora*@
                    <div class="col-4 ms-3">
                        <label class="form-label"><strong>SueldoHora</strong></label>
                        <InputNumber class="form-control"
                        @bind-Value="Tecnico.SueldoHora"></InputNumber>
                        <ValidationMessage For="(()=> Tecnico.SueldoHora)" />
                    </div>
                @*Tipo Tecnico*@
                <div class="col-4 ms-3">
                    <label class="form-label"><strong>Descripci&oacute;n</strong></label>
                    <InputSelect class="form-select" @bind-Value="Tecnico.Descripcion">
                        <option ="" selected disabled>Elija una opci&oacute;n</option>
                        @foreach (var tipoTecnico in ListaTiposTecnicos)
                        {
                            <option value="@tipoTecnico.Descripcion">@tipoTecnico.Descripcion</option>
                        }
                    </InputSelect>
                </div>
            </div>
            @*Footer*@
            <div class="card-footer text-center">
                <button type="button" class="btn btn-primary bi bi-arrow-90deg-left" @onclick="Volver"></button>
                <button type="button" class="btn btn-success bi bi-floppy-fill" @onclick="Guardar"></button>
            </div>
        </div>
    </div>
</EditForm>
@Mensaje

@code {
    public Tecnicos Tecnico { get; set; } = new Tecnicos();
    public List<TiposTecnicos> ListaTiposTecnicos { get; set; } = new List<TiposTecnicos>();

    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaTiposTecnicos = await tiposTecnicosService.Listar(e => e.TiposTecnicosId > 0);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");   
    }

    private async Task Guardar()
    {
        if(await Validar())
        {
            Mensaje = "Ya existe un Tecnico con este nombre";
            return;
        }

        var crear = await tecnicoService.Guardar(Tecnico);

        if (crear)
        {
            Mensaje = "Se ha creado correctamente el tecnico";
        }
        else
        {
            Mensaje = "No se ha creado correctamente el tecnico";
        }
    }

    private async Task<bool> Validar()
    {
        var existe = await tecnicoService.ExisteTecnico(Tecnico.TecnicoId, Tecnico.Nombres);
        return existe;
    }
}
