@page "/Tecnicos/Delete/{TecnicoId:int}"

@inject TecnicosService tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@
<PageTitle>Delete</PageTitle>
<div class="container">
    <div class="shadow-lg">
        @*header*@
        <div class="card-header text-center">
            <h3><strong>Eliminar T&eacute;cnico</strong></h3>
        </div>

        @*body*@
        <div class="card-body">
            <div class="text-center">
                <h4><strong>¿Desea eliminar este t&eacute;cnico?</strong></h4>
            </div>
            <ul>
                <li><strong>TecnicoId: </strong>@Tecnico.TecnicoId</li>
                <li><strong>Nombres: </strong>@Tecnico.Nombres</li>
                <li><strong>Descripci&oacute;n: </strong>@Tecnico.Descripcion</li>
                <li><strong>SueldoHora: </strong>@Tecnico.SueldoHora</li>
            </ul>
        </div>
    </div>
    @*Footer*@
    <div class="card-footer text-center">
        <button type="button" class="btn btn-primary bi bi-arrow-90deg-left" @onclick="Volver"></button>
        <button type="submit" class="btn btn-danger bi bi-trash" @onclick="Eliminar"></button>
    </div>
</div>

@Mensaje

@code {
    [Parameter]
    public int TecnicoId { get; set; }

    public Tecnicos Tecnico { get; set; } = new Tecnicos();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicoService.Buscar(TecnicoId);
    }

    private async Task Eliminar()
    {
        var eliminado = await tecnicoService.Eliminar(Tecnico.TecnicoId);
        if (eliminado)
        {
            Mensaje = $"El tecnico {Tecnico.Nombres} ha sido eliminado correctamente";
        }
        else
        {
            Mensaje = "No se ha podido eliminar el tecnico";
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");
    }
}
