@page "/Tecnicos/TiposTecnicos/Edit/{TipoId:int}"

@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@

<PageTitle>Create</PageTitle>
<EditForm Model="TipoTecnico" OnValidSubmit="Modificar">
    <DataAnnotationsValidator />
    @*Formulario*@
    <div class="container">
        <div class="card shadow-lg">

            @*Header*@
            <div class="card-header text-center">
                <h5 class="card-title">Modificar Tipo T&eacute;cnico</h5>
            </div>

            @*Body*@
            <div class="card-body">

                @*Id*@
                <div class="mb-3">
                    <label class="form-label"><strong>TipoTecnicoId</strong></label>
                    <InputNumber class="form-control" @bind-Value="TipoTecnico.TiposTecnicosId" readonly></InputNumber>
                </div>

                @*Descripcion*@
                <div class="mb-3">
                    <label class="form-label"><strong>Descripci&oacute;n</strong></label>
                    <InputText class="form-control"
                               @bind-Value="TipoTecnico.Descripcion"></InputText>
                    <ValidationMessage For="(()=> TipoTecnico.Descripcion)" />
                </div>
            </div>

            @*Footer*@
            <div class="card-footer text-center mt-2">
                <a href="/Tecnicos/TiposTecnicos/Index" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
                <button type="button" class="btn btn-success bi bi-floppy-fill" @onclick="Modificar"></button>
            </div>
        </div>
    </div>
</EditForm>
@Mensaje

@code {
    [Parameter]
    public int TipoId { get; set; }

    public TiposTecnicos TipoTecnico { get; set; } = new TiposTecnicos();

    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        TipoTecnico = await tiposTecnicosService.Buscar(TipoId);
    }

    public async Task Modificar()
    {
        var modificar = await tiposTecnicosService.Guardar(TipoTecnico);

        if (modificar)
            Mensaje = "Se ha modificado correctamente";
        else
            Mensaje = "No se ha modificado correctamente";
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/TiposTecnicos/Index");
    }
}
