@page "/Tecnicos/TiposTecnicos/Index"

@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="card shadow-lg">

        @*header*@
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Registro de Tipos T&eacute;cnicos</h5>
            <a href="/Tecnicos/TiposTecnicos/Create" class="btn btn-outline-primary"><span class="bi bi-plus-square mt-3"></span> Crear</a>
        </div>

        @*body*@
        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Descripcion">Descripcion</option>
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>

                @*Restablecer*@
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                </div>


            </div>
            <table class="table table-hover text-center mt-4">
                <thead class="table table-striped text-black">
                    <tr>
                        <th><strong>TipoTecnicoId</strong></th>
                        <th><strong>Descripcion</strong></th>
                        <th><strong>Observar</strong></th>
                        <th><strong>Editar</strong></th>
                        <th><strong>Eliminar</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tipo in ListaTipoTecnicos)
                    {
                        <tr>
                            <td>@tipo.TiposTecnicosId</td>
                            <td>@tipo.Descripcion</td>

                            <td>
                                <a href="/Tecnicos/TiposTecnicos/Details/@tipo.TiposTecnicosId" class="btn btn-outline-primary bi bi-eye-fill"></a>
                            </td>

                            <td>
                                <a href="/Tecnicos/TiposTecnicos/Edit/@tipo.TiposTecnicosId" class="btn btn-outline-warning bi bi-pencil-square"></a>
                            </td>

                            <td>
                                <a href="/Tecnicos/TiposTecnicos/Delete/@tipo.TiposTecnicosId" class="btn btn-outline-danger bi bi-trash-fill"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*footer*@
        <div class="card-footer d-flex justify-content-between">
            <label>Cantidad: @ListaTipoTecnicos.Count</label>
        </div>
    </div>
</div>

@code {
    public List<TiposTecnicos> ListaTipoTecnicos { get; set; } = new List<TiposTecnicos>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaTipoTecnicos = await tiposTecnicosService.Listar(e => e.TiposTecnicosId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Id" && int.TryParse(ValorFiltro, out int id))
                ListaTipoTecnicos = await tiposTecnicosService.Listar(e => e.TiposTecnicosId == id);
            else if (Filtro == "Descripcion")
                ListaTipoTecnicos = await tiposTecnicosService.Listar(e => e.Descripcion.ToLower().Contains(ValorFiltro.ToLower()));
        }
        else
            ListaTipoTecnicos = await tiposTecnicosService.Listar(e => e.TiposTecnicosId > 0);
    }

    private async Task Restablecer()
    {
        ListaTipoTecnicos = await tiposTecnicosService.Listar(e => e.TiposTecnicosId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }
}
